@model  IEnumerable<Open.Facade.Country.CountryViewModel>

@{
    ViewData["Title"] = "Countries";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Alpha3Code)</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ISOTwoCharSortParm"]">@Html.DisplayNameFor(model => model.Alpha2Code)</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ISOThreeSortParm"]">@Html.DisplayNameFor(model => model.Name)</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.ValidFrom)</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.ValidTo)</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Alpha3Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Alpha2Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Alpha3Code">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Alpha3Code">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Alpha3Code">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
